---
// Call-to-action section
---

<section
  class="py-20 bg-gradient-to-b from-accent to-secondary-content text-white"
>
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <h2 class="text-3xl md:text-4xl font-bold mb-6">
      Ready to Start Your Language Journey?
    </h2>
    <p class="text-xl mb-8 opacity-90">
      Your language learning journey begins with a single conversation. Book
      your no-obligation, free 30-minute demo class today and see how we can
      help you achieve your goals.
    </p>
    <a
      href="https://wa.me/917303319946?text=hi Shruti, I would like to book a class."
			target="_blank"
      class="btn btn-lg btn-accent border-none shadow-xl transition-all duration-300 hover:scale-105"
    >
      Claim My Free Demo Now
    </a>
  </div>
</section>
